{namespace m=TYPO3\Media\ViewHelpers}
<f:widget.paginate objects="{dynamicFields}" as="paginatedDynamicFields" configuration="{itemsPerPage: 30, maximumNumberOfLinks: 7}">
	<table class="neos-table dynamic-field-list">
		<thead>
			<tr>
				<th>Title</th>
				<th class="neos-action"></th>
			</tr>
		</thead>
		<tbody>
			<f:for each="{paginatedDynamicFields}" as="dynamicField">
				<tr class="dynamic-field draggable-field" data-category-identifier="{dynamicField -> f:format.identifier()}">
					<td>{dynamicField.label}</td>
					<td class="neos-action">
						<f:form action="deleteDynamicField" method="post" object="{dynamicField}" objectName="dynamicField">
							<f:link.action action="editDynamicField" title="Edit field" class="neos-button neos-button-mini" arguments="{dynamicField: dynamicField}"><i class="icon-pencil"></i></f:link.action>
							<button type="submit" title="Delete field" class="neos-button neos-button-mini neos-button-danger">
								<i class="icon-trash icon-white"></i>
							</button>
						</f:form>
					</td>
				</tr>
			</f:for>
		</tbody>
	</table>
</f:widget.paginate>
