{namespace m=TYPO3\Media\ViewHelpers}
<f:widget.paginate objects="{dynamicNodeTypes}" as="paginatedDynamicNodeTypes" configuration="{itemsPerPage: 30, maximumNumberOfLinks: 7}">
	<table class="neos-table dynamic-node-types-list">
		<thead>
			<tr>
				<th>Title</th>
				<th class="neos-action"></th>
			</tr>
		</thead>
		<tbody>
			<f:for each="{paginatedDynamicNodeTypes}" as="dynamicNodeType">
				<tr class="dynamic-node-type draggable-dynamic-node-type" data-dynamic-node-type-identifier="{dynamicNodeType -> f:format.identifier()}">
					<td>{dynamicNodeType.label}</td>
					<td class="neos-action">
						<f:form action="delete" method="post" object="{dynamicNodeType}" objectName="dynamicNodeType">
							<f:link.action action="edit" title="Edit dynamicNodeType" class="neos-button neos-button-mini" arguments="{dynamicNodeType: dynamicNodeType}"><i class="icon-pencil"></i></f:link.action>
							<button type="submit" title="Delete dynamic node type" class="neos-button neos-button-mini neos-button-danger"><i class="icon-trash icon-white"></i></button>
						</f:form>
					</td>
				</tr>
			</f:for>
		</tbody>
	</table>
</f:widget.paginate>
