<f:layout name="Default" />

<f:section name="Title">Dynamic node types management</f:section>

<f:section name="Content">
	<div class="row t3-module-container indented">
		<f:form action="update" object="{dynamicNodeType}" objectName="dynamicNodeType">
			<div class="neos-row-fluid neos-module-container">
				<fieldset class="neos-span3">
					<legend>Editing {dynamicNodeType.label}</legend>

					<div class="neos-control-group">
						<label class="neos-control-label" for="nodeTypeLabel">Label</label>
						<div class="neos-controls">
							<f:form.textfield property="label" name="label" id="nodeTypeLabel" class="neos-span12" />
						</div>
					</div>

					<div>
						<f:link.action action="index" class="neos-button">Cancel</f:link.action>
						<f:form.submit value="Update node type" class="neos-button neos-button-primary" />
					</div>
				</fieldset>
			</div>
		</f:form>

		<br/>

		<h3>Properties</h3>
		<f:if condition="{dynamicProperties}">
			<f:then>
				<f:render partial="DynamicPropertiesListView" arguments="{dynamicProperties: dynamicProperties}"/>
			</f:then>
			<f:else>
				<p>No properties have been added yet</p>
			</f:else>
		</f:if>

		<br/>
		<br/>

		<f:form action="createDynamicProperty" object="{dynamicNodeType}" objectName="dynamicNodeType">
			<div class="neos-row-fluid neos-module-container">
				<fieldset class="neos-span9">
					<h3>Add new property</h3>

					<div class="neos-row-fluid">
						<div class="neos-span4">
							<div class="neos-control-group">
								<label class="neos-control-label" for="propertyLabel">Label</label>
								<div class="neos-controls">
									<f:form.textfield id="propertyLabel" name="label" placeholder="Enter property label" required="true" />
								</div>
							</div>
						</div>
						<div class="neos-span4">
							<div class="neos-control-group">
								<label class="neos-control-label" for="propertyPlaceholder">Placeholder (optional)</label>
								<div class="neos-controls">
									<f:form.textfield id="propertyPlaceholder" name="placeholder" placeholder="Enter placeholder" />
								</div>
							</div>
						</div>
						<div class="neos-span4">
							<div class="neos-control-group">
								<label class="neos-control-label" for="propertyDefaultValue">Default value (optional)</label>
								<div class="neos-controls">
									<f:form.textfield id="propertyDefaultValue" name="defaultValue" placeholder="Enter default value" />
								</div>
							</div>
						</div>
					</div>

					<div>
						<f:form.submit value="Add property" class="neos-button neos-button-primary" />
					</div>
				</fieldset>
			</div>
		</f:form>
	</div>
</f:section>
