<f:layout name="Default" />

<f:section name="Title">
	<f:translate id="backend.module.title" />
</f:section>

<f:section name="Content">
	<div class="row t3-module-container indented">
		<h3>
			<f:translate id="backend.module.index.header" />
		</h3>

		<f:if condition="{dynamicNodeTypes}">
			<f:then>
				<f:render partial="DynamicTypesListView" arguments="{dynamicNodeTypes: dynamicNodeTypes}"/>
			</f:then>
			<f:else>
				<p><f:translate id="backend.module.index.empty" /></p>
			</f:else>
		</f:if>

		<br/>
		<br/>

		<f:form action="create">
			<h3><f:translate id="backend.module.index.create" /></h3>
			<br/>
			<f:form.textfield name="label" placeholder="{f:translate(id: 'backend.module.nodetype.placeholder.label')}" required="true" />
			<br/><br/>
			<f:form.submit value="{f:translate(id: 'backend.module.nodetype.button.create')}" class="neos-button neos-button-primary" />
		</f:form>
	</div>
</f:section>
